<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="Description" content="莉沫酱周边博物馆，好耶！"/>
    <link rel="stylesheet" href="https://synthetic.librian.net/synthetic.css"/>
    <link rel="stylesheet" href="1.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="1.js"></script>
    <title>
        莉沫酱周边博物馆
    </title>
</head>
<body class='synth'>
    <header class='syn'>
        <span class='h'>
            莉沫酱周边博物馆
        </span>
        <span>
            <a>
                莉沫酱周边
            </a>
            |
            <a>
                宝贵的东西
            </a>
        </span>
    </header>
    <div id='main'>
        <div>
            <p>
                在每年的Librian交换礼物节，群友们把自己宝贵的东西送给莉沫酱，就会收到莉沫酱送出的新产品。
            </p>
        </div>
        <template v-for="展品 in d">
            <hr/>
            <div class='品'>
                <div>
                    <img class='synth' v-bind:src='展品.图'/>
                </div>
                <div>
                    <p class='名字'>
                        {{展品.名字}}
                    </p>
                    <p>
                        <template v-for="z in 展品.字">
                            {{z}}
                            <br/>
                        </template>
                    </p>
                </div>
                <div class='单'>
                    <button class='synth' @click="位置 += 1">
                       {{'上中下'[位置%3]}}单
                    </button>
                </div>
            </div>
        </template>
        <div class='尾'>
            © 2022 | Rimo | conception-license
        </div>
    </div>
</body>
